:root {
  --bg-white: #F5F5FA;
  --primary: #D3E223;
  --secondary: #CBD922;
  --error: #E50C26;
  --trash: #FF5E48;
  --blue: #5291f0;
  --blue-2: #62A5F3;
  --gray: #7C7C8A;
  --light-gray: #B8B8C2;
  --gray-5: #807A8A;
  --black: #232E40;
  --white: #FFFFFF;
  --tag-green: #72B800;
  --tag-orange: #FF881A;
  --input: #282C370D;
  --separator: #E6E6ED;
  --shadow: 0px 16px 32px 0px #232E401F;
  --font: 'Inter', sans-serif;
  --radius: 8px;

  --color-black: #191c1f;
  --color-gray: #8F99A3;
  // --color-gray: #75808a;
  --color-primary: #409eff;
  --color-purple: #8f55ea;
  --color-red: #c40b08;
  --color-pink: #f3efff;
  --color-white: #fff;
  --color-light-gray: #dfe3e7;
  --color-lighten-gray: #f5f5f5;
  --color-lighter-gray: #eee;
  --color-lightest-gray: #ececec;
  --color-dark-gray: #383636;
  --color-purple-dark: #40374d;
  --color-purple-darken: #763ecf;
  --color-purple-light: #e9e4f2;
}